{% extends "base.html" %}

{% block content %}
  <div class="container theme-showcase" role="main">
    <h1>Список проектов</h1> 
  
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Название проекта</th>
          <th>Статус производства</th>
      </thead>
      {% if project_list %}
        <tbody>
        {% for project in project_list %}
          <tr>
            <td><a href="{% url 'todolist:part_of_project' project.id  %}">{{ project.title }}</a></td>
            <td>
              <span class="label label-default">{{project.id}}</span>
              <span class="label label-info">{{project.id}}</span>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      {% else %}
        <p>Проектов не найдено.</p>
      {% endif %}
    </table>
  </div>
{% endblock content %}