{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'todolist/style.css' %}" />
<link rel="stylesheet" media="screen" href="{% static 'todolist/css/bootstrap.min.css' %}">
<script src="{% static 'todolist/js/bootstrap.min.js' %}"></script>

<h1>Список проектов</h1>

{% if project_list %}
    <ul>
    {% for project in project_list %}
        <li><a href="{% url 'todolist:part_of_project' project.id  %}">{{ project.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Проектов не найдено.</p>
{% endif %}